In [ ]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}

# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}

emp_info={}
print(emp_info)
emp_info.update({"Tom":{'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}})
emp_info.update({"Kathy":{'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}})
print(emp_info["Tom"])
print(emp_info["Kathy"])

{}
{'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}
{'email': 'kathy_abram897@gmail.com', 'Phone': 1887654321, 'City': 'New York'}

In [1]:
# Create a dictionary out of below inputs
# lst1 = ['emp1', 'emp2', 'emp3']
# emp_key = ['e_name', 'e_id', 'e_sal']
# emp1_val = ['John', 'SG101', '$10,000']
# emp2_val = ['Smith', 'SG102', '$9,000']
# emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']
emp1det=dict(zip(emp_key,emp1_val))
emp2det=dict(zip(emp_key,emp2_val))
emp3det=dict(zip(emp_key,emp3_val))

listemp=["emp1","emp2","emp3"]
listempdet=[]
listempdet.append(emp1det)
listempdet.append(emp2det)
listempdet.append(emp3det)


Allemp={}
j=0
for i in listemp:
    Allemp[i]=listempdet[j]
    j+=1
print(Allemp)

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [ ]:
# Acess the value of key 'history'

sampleDict = { "class":{ "student":{ "name":"Mike","marks":{ "physics":70,"history":80}}}}


print(sampleDict['class']["student"]["marks"]["history"])

80

In [2]:

# Initialize dictionary with default values. Inputs are:-
# employees = ['Kelly', 'Emma', 'John']
# defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}

employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}
emp_dict={}
for i in employees:
    emp_dict[i]=defaults
print(emp_dict)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [9]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.

# Use a dictionary to provide the mapping of DNA to RNA bases.

def mRNA_Transcript(DNA):
    DNA_RNA= {"A":"U", "T":"A", "C":"G", "G":"C"}
    mRNA_Transcript=""
    DNA=input("Give a DNA Strand:- " )
    for i in DNA:
        mRNA_Transcript= mRNA_Transcript + DNA_RNA[i]
    return mRNA_Transcript

mRNA_Transcript(DNA)

Give a DNA Strand:- AAC

'UUG'

In [13]:
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

def countletters(word):
    letter_count={}
    word=input("Please enter a word: -")
    for i in word:
        letter_count[i]= int(word.count(f'{i}'))
    return (letter_count)

countletters(word)

Please enter a word: -regulate

{'r': 1, 'e': 2, 'g': 1, 'u': 1, 'l': 1, 'a': 1, 't': 1}

In [15]:
# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }
    
# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }

def basecomp(base_c):
    base_c=input("Enter a base composotion:-")
    base_count={}
    nucleo= "A","C","T","G"

    for i in nucleo:
        base_count[i]=base_c.count(f"{i}")
    return (base_count)

basecomp(base_c)

Enter a base composotion:-"AGT"

{'A': 1, 'C': 0, 'T': 1, 'G': 1}

In [ ]:
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above.
d={}
d.setdefault("Name", "Tom")

print("None of the above")

None of the above

In [ ]:
# [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
# 1. d.keys()
# 2. d.values()
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.
d = {"a":1, "b":2}
d.values()

dict_values([1, 2])

In [ ]:
# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
# 2. d = { (1,3,4): 4.5 }
# 3. d = { ["First", "Last"]: (1,3) }
# 4. d = { 1: 0.4 }
# 5. None of the above
"Answer"="""d = { ["First", "Last"]: (1,3) }"""

In [20]:
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []


def reverselookup(Dict,value):
    emptylist=[]
    for i in Dict:
        if Dict[i]==value:
            emptylist.append(i)
    print(emptylist)

a=reverselookup({'a':1, 'b':2, 'c':2},2)

['b', 'c']

In [36]:

# Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}

def invertdictionary(d):
    d=eval(input("Give a dictionary:- "))
    d1=d.items()
    rev=[]
    for i in d1:
        rev.append(list(i))
    j=0
    for i in rev:
        i.reverse()
    newdic={}
    for i in rev:
        if i[0] not in newdic:
            newdic[i[0]]=list(i[1])
        else:
            newdic[i[0]].append(i[1])
    return (newdic)

invertdictionary(d)

Give a dictionary:- {'a':3, 'b':3, 'c':3}

{3: ['a', 'b', 'c']}

In [32]:
# Write a function that converts a sparse vector into a dictionary as described above.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}
# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
# In - convertVector([0, 0, 0, 0, 0])
# Out - {}

def vectdict(numbers):
    numbers= eval(input("enter a number list:- "))
    vectdict={}
    j=0
    for i in numbers:
        if i!=0:
            vectdict[j]=i
        j+=1

    return(vectdict)

vectdict(numbers)

enter a number list:- [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]

{0: 1, 3: 2, 7: 3, 12: 4}

In [30]:
# Write a function that converts a dictionary back to its sparse vector representation.
# In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
# Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
# In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
# Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
# In - convertDictionary({})
# Out - []

def dictosparse(dictnum):
    dictnum=eval(input("Give an dictionary:- "))
    maxkey=max(dictnum.keys())
    list1=[]
    i=0
    while i<=int(maxkey):
        list1.append(0)
        i+=1
    dictlis=list(dictnum.items())
    for i in dictlis:
        list1.pop(i[0])
        list1.insert(i[0],i[1])
    return(list1)


dictosparse(dictnum)

Give an dictionary:- {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}

[1, 0, 1, 0, 2, 0, 1, 0, 0, 1]

In [17]:
# Given a Python dictionary, Change Bradâ€™s salary to 8500
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 6500}
# }

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }

sampleDict = {'emp1': {'name': 'Jhon', 'salary': 7500},'emp2': {'name': 'Emma', 'salary': 8000},'emp3': {'name': 'Brad', 'salary': 6500}}

sampleDict['emp3'].update({'salary':8500})
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [27]:
# Get the key corresponding to the minimum value from the following dictionary
# sampleDict = {
#   'Physics': 82,
#   'Math': 65,
#   'history': 75
# }

# Expected Output
# Math
marks = {'Physics': 82,'Math': 65,'history': 75}
def lowestsub(marks):
    marks = eval(input("Give Marks Dictionary: -"))
    lowest=""
    for i in marks:
        if marks[i]==min(marks.values()):
            lowest=i
    return lowest

lowestsub(marks)

Give Marks Dictionary: -{'Physics': 82,'Math': 65,'history': 75}

'Math'

In [26]:
# Rename key city to location in the following dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
# }

# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }

samdict = {"name": "Kelly","age":25,"salary": 8000,"city": "New york"}
changedict={}

for i in samdict:
    if i=="city":
        changedict["location"]=samdict["city"]
    
    changedict[i]=samdict[i]
changedict.pop("city")
print(changedict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [22]:
# Check if a value 200 exists in a dictionary
# sampleDict = {'a': 100, 'b': 200, 'c': 300}

# Expected Output: True

sampleDict1 = {'a': 100, 'b': 200, 'c': 300}
for i in sampleDict1:
    if sampleDict1[i]==200:
        print(True)

True

In [ ]:
# Delete set of keys from Python Dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
  
# }
# keysToRemove = ["name", "salary"]

# Expected Output:
# {'city': 'New york', 'age': 25}

sampleDict4 = {"name": "Kelly","age":25,"salary": 8000,"city": "New york"}
sampleDict4.pop("name")  
sampleDict4.pop("salary")  
print(sampleDict4)

{'age': 25, 'city': 'New york'}