# FLOAT ASSIGNMENT

1.  Declare a float value and store it in a variable.
    Check the type and print the id of the same.

In [2]:
flo = 2.3
print(type(flo))
print(id(flo))

<class 'float'>
2957954324624

  2.  Arithmetic Operations on float
        Take two different float values.
        Store them in two different variables.
        Do below operations on them:-
            Find sum of both numbers
            Find difference between them
            Find the product of both numbers.
            Find value after dividing first num with second number
            Find the remainder after dividing first number with second number
            Find the quotient after dividing first number with second number
            Find the result of the first num to the power of the second number.

In [4]:
# declaring variable values as below:
flo1 = 3.2
flo2 = 2.12

#addition 
print(flo1+flo2)

#Difference
print(flo1-flo2)

#Multiplication
print(flo1*flo2)

#DiviSion
print(flo1/flo2)

#Mod
print(flo1%flo2)

#Floor Division
print(flo1//flo2)

#power
print(flo1**flo2)

5.32
1.08
6.784000000000001
1.509433962264151
1.08
1.0
11.773835237939391

3.    Comparison Operators on float
    Take two different float values.
    Store them in two different variables.
    Do below operations on them:-
    
    Compare these two numbers with below operator:-
        
        Greater than, '>'
        
        Smaller than, '<'
        
        Greater than or equal to, '>='
        
        Less than or equal to, '<='
        
 Observe their output(return type should be boolean)

In [8]:
#declaring float values

flo3 = 33.57
flo4 = 12.90

#greater than
print(flo3>flo4)
#smaller than
print(flo3<flo4)
#Greater than or equal to
print(flo3>=flo4)
# Less than equal to
print(flo3<=flo4)

True
False
True
False

  4.  Equality Operator
        Take two different float values.
        Store them in two different variables.
        
     Equate them using equality operators (==, !=)
     
    Observe the output(return type should be boolean)

In [10]:
# declaring float values
a = 20.97
b = 100.18

# is equal to
print(a == b)
print(a != b)

False
True

 5.   Logical operators
      Observe the output of below code
      Cross check the output manually

In [11]:
print(10.20 and 20.30) 
print(0.0 and 20.30) 
print(20.30 and 0.0) 
print(0.0 and 0.0) 
print(10.20 or 20.30) 
print(0.0 or 20.30) 
print(20.30 or 0.0)
print(0.0 or 0.0) 
print(not 10.20) 
print(not 0.0)

20.3
0.0
0.0
0.0
10.2
20.3
20.3
0.0
False
True

 6.   What is the output of expression inside print statement. Cross check
      before running the program.
      
      a = 10.20
      b - 10.20
print(a is b) #True or False? True 10.20<256
print(a is not b) #True or False? False


Why the Id of float values are different when the same value is
assigned to two different variables


ex: a = 10.5 b=10.5. but id will be same if I assign the variable
having float i.e. a=c then both a and c's Id are same

In [4]:
a = 10.20
b = 10.20

print(a is b)
print(a is not b)
print(id(a))
print(id(b))

a=10.5 
b=10.5
print(a is b)
print(a is not b)
print(id(a))
print(id(b))


print(id(c))

False
True
1580848126288
1580848125872
False
True
1580848127120
1580848126832
1580848125936

  #7.      Bitwise operation is not applicable between instances of float.
  
            Why the Id of float values are different when the same value is
            assigned to two different variables
            
            ex: a = 10.5 b=10.5. but id will be same if I assign the variable
            having float i.e. a=c then both a and c's Id are same
            
            Object reusability concept is not applicable on float values.
            
ANS: when it comes to Float Values , since they have decimal point and the digits right of decimal point can grow infinitely same memory ID is not assigned even if the float value is same.

8.        Membership operation
            in, not in are two membership operators and it returns boolean value
                print('2.7' in 'Python2.7.8') #True
                print(10.20 in [10,10.20,10+20j,'Python']) #True
                print(10.20 in (10,10.20,10+20j,'Python')) # True
                print(20.30 in {1,20.30,30+40j}) # True
                print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True
                print(10 in range(20)) # True

In [19]:
print('2.7' in 'Python2.7.8') 
print(10.20 in [10,10.20,10+20j,'Python'])
print(10.20 in (10,10.20,10+20j,'Python'))
print(20.30 in {1,20.30,30+40j}) # True
print(2.3 in {1:100, 2.3:200, 30+40j:300})
print(10 in range(20))

True
True
True
True
True
True